@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-size: 35px !important;
}

h2 {
  font-size: 65px !important;
}

h3 {
  font-size: 45px !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 25px !important;
}

h5 {
  font-size: 18px !important;
}

h6 {
  font-size: 14px !important;
}

p {
  font-size: 16px;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
  position: relative;
}

section {
  padding-bottom: 4rem !important;
}

.container {
  max-width: 1290px !important;
  width: 100% !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.f-45 {
  font-size: 45px;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.white {
  background-color: #fff !important;
}

.green {
  color: #15CB67;
}

.bg-green {
  background: #15CB67;
}

.primary-btn {
  padding: 16px 54px 16px 54px;
  -webkit-box-shadow: 4px 4px 0px 0px #F96734;
          box-shadow: 4px 4px 0px 0px #F96734;
  color: #15CB67;
  background: white;
  background-size: cover;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.primary-btn::after {
  content: 'Изпратете';
  font-size: 20px;
}

.primary-btn:hover {
  color: #15CB67;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 1px 1px 3px 3px #F96734;
          box-shadow: 1px 1px 3px 3px #F96734;
}

@media screen and (max-width: 500px) {
  .primary-btn {
    padding: 0.7rem 1rem;
  }
}

header {
  top: 0;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ham {
  cursor: pointer;
  z-index: 2;
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #15CB67;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #15CB67;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-nav h3 {
  color: #fff;
}

.visible {
  position: absolute;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav-bar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar a {
  display: table;
  position: relative;
  font-weight: bold;
  color: #fff;
  padding: 0.8rem 0;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.nav-bar a:hover {
  color: #F96734;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  -webkit-transform: translate(-5%, 0%);
          transform: translate(-5%, 0%);
}

.nav-bar a:hover:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 51px;
  background: #F96734;
  top: 55%;
  right: -4rem;
}

@media screen and (max-width: 1200px) {
  .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-xl-7 {
    height: 400px;
    overflow: hidden;
  }
}

.hero ul li {
  font-size: 18px;
  padding-bottom: 2rem;
}

.circle {
  position: absolute;
  z-index: -1;
  left: -0.7rem;
}

.circle::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background-color: #15CB67;
}

@media screen and (max-width: 768px) {
  .resp-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resp-ul ul {
    width: 100% !important;
  }
}

.video {
  background: url("images/video.svg");
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}

.video iframe {
  max-width: 100%;
}

.hero-left {
  position: absolute;
  left: 0;
  top: 8rem;
  z-index: -2;
}

.hero-right {
  position: absolute;
  right: 0;
  top: 8rem;
}

@media screen and (max-width: 992px) {
  .hero-right, .hero-left {
    display: none;
  }
}

@media screen and (max-width: 998px) {
  .col-md-3 {
    -webkit-box-flex: initial !important;
        -ms-flex: initial !important;
            flex: initial !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .cards div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .cards div div {
    margin: 0 auto;
  }
  .reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 7rem;
  background: #15CB67;
  z-index: 1;
}

.download h3 {
  color: #fff;
}

.download .square, .download .half-circle, .download .oval {
  position: absolute;
  z-index: -1;
}

.download .square {
  top: 0;
  right: 15rem;
}

@media screen and (max-width: 769px) {
  .download .square {
    right: 0;
  }
}

.download .half-circle {
  bottom: 0;
  right: 10rem;
}

@media screen and (max-width: 769px) {
  .download .half-circle {
    right: 0;
  }
}

.download .oval {
  left: 0;
}

@media screen and (max-width: 769px) {
  .download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dev {
  color: #15CB67;
  outline: 10px solid #fff;
  position: relative;
  padding: 1.5rem;
  z-index: 1;
  height: 215px;
  background: #D6F0FF;
}

.dev img {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.email {
  color: #15CB67;
  outline: 10px solid #fff;
  position: relative;
  padding: 1.5rem;
  z-index: 1;
  height: 215px;
  background: #F0F7CE;
}

.email img {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.android {
  color: #15CB67;
  outline: 10px solid #fff;
  position: relative;
  padding: 1.5rem;
  z-index: 1;
  height: 215px;
  background: #092F42;
}

.android img {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  h4 {
    width: 100% !important;
  }
  .experience {
    height: 300px;
    overflow-y: auto;
    -ms-flex-wrap: inherit !important;
        flex-wrap: inherit !important;
  }
  .experience div {
    width: 300px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
  }
}

.faq {
  background-color: #D6F0FF;
  padding: 1rem;
  margin: 0.5rem;
}

.list {
  display: none;
}

.question {
  font-weight: 500;
  font-size: 19px;
}

.hide, .show {
  font-size: 25px;
  text-decoration: none;
  float: right;
  color: #15CB67;
  font-weight: bold;
}

.hide:hover, .show:hover {
  color: #15CB67;
}

.show {
  display: none;
}

.hide:target + .show {
  display: inline;
}

.hide:target {
  display: none;
}

.hide:target ~ .list {
  display: inline;
}

.form-field {
  padding: 0 !important;
  margin-top: 2rem;
  z-index: 1;
}

.form-field .questions {
  text-align: center;
  height: 816px;
  margin: 0 auto;
  padding: 2rem;
}

.form-field .questions form {
  width: 536px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .form-field .questions form {
    width: 100%;
  }
}

.form-field .questions form .form-group {
  padding: 0.3rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .form-field .questions form .form-group {
    padding: 0;
  }
}

.form-field .questions form .form-group textarea {
  padding: 1.5rem 0 5rem 0.5rem;
}

.form-field .questions form .form-group .form-control {
  border-radius: 0 !important;
  height: calc(3em + .75rem + 2px) !important;
}

.form-field .questions form .text-field .form-control {
  height: 176px !important;
}

.form-field .form-element-r {
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 13rem;
}

.form-field .form-element-l {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label {
  font-size: 14px;
  color: #A7C9DB;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: .7rem;
  top: .4rem;
  color: black;
  font-size: 18px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

@media screen and (max-width: 889px) {
  .form-elements {
    display: none;
  }
}

footer {
  background: #D6F0FF;
  padding: 1.5rem;
}

footer h4 {
  text-align: center;
}

footer ul a {
  color: black !important;
  padding: 3rem;
}

@media screen and (max-width: 992px) {
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul a {
    padding: 0;
  }
  footer ul a li {
    padding: 1rem !important;
  }
}
/*# sourceMappingURL=style.css.map */