* 
	box-sizing: border-box
  
*,*:before,*:after
	padding: 0
	margin: 0
	box-sizing: inherit
    
    // BASE
// colors
$green: #15CB67
$orange: #F96734
$pale-blue: #D6F0FF
$pale-yellow: #F0F7CE 
$dark-blue: #092F42
$white: #fff

// Headings
h1 
	font-size: 35px !important
h2 
	font-size: 65px !important
h3 
	font-size: 45px !important
	font-weight: 600 !important
h4 
	font-size: 25px !important
h5 
	font-size: 18px !important
h6 
	font-size: 14px !important

p 
	font-size: 16px
body 
	font-family: 'Ubuntu', sans-serif !important
	position: relative
section 
	padding-bottom: 4rem !important
.container 
	max-width: 1290px !important
	width: 100% !important
.row 
	padding: 0 !important
	margin: 0 !important
		
a 
	text-decoration: none !important
li 
	list-style: none

//  reusable components
.f-45 
	font-size: 45px
.w-60 
	width: 60%
.w-40 
	width: 40%
.white 
	background-color: $white !important
.green 
	color: $green
.bg-green 
	background: $green

// Buttons 

.primary-btn
	padding: 16px 54px 16px 54px
	box-shadow: 4px 4px 0px 0px #F96734
	color: $green
	background: white
	background-size: cover
	transition: all 0.2s linear
	&::after 
		content: 'Изпратете'
		font-size: 20px
	&:hover 
		color: $green
		box-shadow: none
		transition: all 0.2s linear
		box-shadow: 1px 1px 3px 3px #F96734
	@media screen and ( max-width: 500px )
		padding: 0.7rem 1rem
		

// Mixin 
@mixin experience($bgc)
	color: $green
	outline: 10px solid $white
	position: relative
	padding: 1.5rem 
	z-index: 1
	height: 215px
	background: $bgc
	img 
		right: 0
		position: absolute
		bottom: 0
		z-index: -1

// scrollbar
// ::-webkit-scrollbar 
//   width: 5px
// ::-webkit-scrollbar-track 
//   background: #d8d2d2 !important
// ::-webkit-scrollbar-thumb 
//   background: $green  !important
// ::-webkit-scrollbar-thumb:hover 
//   background: #388f59 !important

// Header 
header 
	top: 0
	z-index: 2
	position: sticky
	background: $white
.hamburger 
	display: flex 
	justify-content: space-between 
.ham 
	cursor: pointer
	z-index: 2
	display: inline-block

// Ham Button
.bar1, .bar2, .bar3 
	width: 35px
	height: 5px
	background-color: $green
	margin: 6px 0
	transition: 0.4s
.change .bar1 
  	transform: rotate(-45deg) translate(-9px, 6px)
.change .bar2 
	opacity: 0
.change .bar3 
  	transform: rotate(45deg) translate(-8px, -8px)

// Dropdown Nav
.dropdown-nav
	display: flex
	position: fixed
	width: 100%
	height: 100vh
	top: -100%
	justify-content: space-between
	background: $green
	transition: all 1s
	h3 
		color: $white
.visible
	position: absolute
	top: 0
	transition: all 1s
.nav-bar 
	align-self: center
	align-items: center
	a 
		display: table
		position: relative
		font-weight: bold
		color: $white
		padding: 0.8rem 0
		transition: 0.6s all
		&:hover 
			color: $orange 
			transition: 0.6s all
			transform: translate(-5%, 0%)
			&:before 
				content: ""
				position: absolute
				height: 3px
				width: 51px
				background: $orange
				top: 55%
				right: -4rem
@media screen and ( max-width:  1200px)
	.nav-bar 
		ul 
			display: flex
			align-items: center
			flex-direction: column
	.col-xl-7 
		height: 400px
		overflow: hidden
	
// Hero	
.hero 
	ul li 
		font-size: 18px 
		padding-bottom: 2rem
.circle
	position: absolute
	z-index: -1
	left: -0.7rem
	&::before
		content: ''
		display: inline-block
		width: 22px
		height: 22px
		border-radius: 10px
		background-color: $green
@media screen and ( max-width: 768px )
	.resp-ul 
		display: flex
		align-items: center
		flex-direction: column
		ul 
			width: 100% !important
	
// video 
.video 
	background: url("images/video.svg") 
	background-repeat: no-repeat 
	background-position: top
	text-align: center
	iframe 
		max-width: 100%
// hero pseudo el 
.hero-left
	position: absolute 
	left: 0
	top: 8rem
	z-index: -2
.hero-right
	position: absolute 
	right: 0
	top: 8rem
@media screen and ( max-width: 992px)
	.hero-right, .hero-left
		display: none

	
// Cards Resp
@media screen and ( max-width: 998px )
	.col-md-3 
		flex: initial !important
		max-width: 100% !important
		margin: 0 !important	
@media screen and ( max-width: 768px )
	.cards div
		flex-direction: column 
		padding: 1rem
		div 
			margin: 0 auto 
	.reverse 
		flex-direction: column-reverse !important



// Download 
.download 
	display: flex
	align-items: center
	position: relative
	padding: 7rem
	background: $green
	z-index: 1
	h3 
		color: $white
	.square, .half-circle, .oval 
		position: absolute
		z-index: -1
	.square 
		top: 0
		right: 15rem
		@media screen and ( max-width: 769px)
			right: 0
	.half-circle 
		bottom: 0
		right: 10rem
		@media screen and ( max-width: 769px)
			right: 0
	.oval
		left: 0
	@media screen and ( max-width: 769px)
		flex-direction: column 
// experience
.dev
	@include experience($pale-blue)
.email 
	@include experience(#F0F7CE)
.android 
	@include experience(#092F42)

@media screen and ( max-width:  768px)
	h4 
		width: 100% !important
	.experience 
		height: 300px 
		overflow-y: auto 
		flex-wrap: inherit !important
		div 
			width: 300px
			flex-shrink: 0
			height: 100% 

	
// Accordion Section
.faq
	background-color: $pale-blue
	padding: 1rem 
	margin: 0.5rem
.list 
	display: none
.question 
	font-weight: 500
	font-size: 19px

.hide, .show 
	font-size: 25px
	text-decoration: none
	float: right
	color: $green
	font-weight: bold

	&:hover 
		color: $green

.show 
	display: none

.hide:target + .show 
	display: inline

.hide:target 
	display: none

.hide:target ~ .list 
	display: inline

	
// Form Section
.form-field
	padding: 0 !important
	margin-top: 2rem
	z-index: 1
	.questions 
		text-align: center
		height: 816px
		margin: 0 auto
		padding: 2rem
		form 
			width: 536px 
			margin: 0 auto
			@media screen and ( max-width:  768px)
				width: 100%
			.form-group
				padding: 0.3rem
				position: relative
				@media screen and ( max-width:  768px)
					padding: 0
				textarea 
					padding: 1.5rem 0 5rem 0.5rem
				.form-control 
					border-radius: 0 !important
					height: calc(3em + .75rem + 2px) !important
			.text-field .form-control
				height: 176px !important
	.form-element-r
		position: absolute 
		left: 0
		z-index: -1 
		bottom: 13rem
	.form-element-l
		position: absolute
		right: 0
		z-index: -1
		top: 0

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label
	font-size: 14px
	color: #A7C9DB
.floating-label 
	position: absolute
	pointer-events: none
	left: .7rem
	top: .4rem
	color: black
	font-size: 18px
	transition: 0.2s ease all

@media screen and ( max-width: 889px )
	.form-elements 
		display: none

// Footer 
footer 
	background: $pale-blue
	padding: 1.5rem
	h4 
		text-align: center
	ul 
		a
			color: black !important
			padding: 3rem
		@media screen and ( max-width:  992px)
			flex-direction: column
			align-items: center
			a
				padding: 0
				li 
					padding: 1rem !important
		


